In [2]:
import pandas as pd
import numpy as np

Loading the properties dataframe and the crime dataframe from csv files

In [2]:
crimescores = pd.read_csv("crime_z_scores.csv")

Defining function to create the safe area tag based on the z score column

In [3]:
#Defining a function to create the "safe area" tag based on the z score column
def create_safe_area_tag(row):
    # Get the z score from the row
    z_score = row['z_scores_before_mapping']
    # Check if the z score is less than or equal to 4
    if z_score <= 4:
        # Return "safe area" as the tag
        return 'safe area'
    else:
        # Return an empty string
        return ''

Applying the function to the dataframe and assigning the result to a new column

In [4]:
crimescores['safe_area_tag'] = crimescores.apply(create_safe_area_tag, axis=1)

In [5]:
crimescores.head()

,neighbourhoodID,neighbourhoodGeoLocation,crime_neighbourhood,LARCENY_FROM_AUTO_Count,LARCENY_FROM_AUTO_z_score_mapped,COMMON_ASSAULT_Count,COMMON_ASSAULT_z_score_mapped,AGG_ASSAULT_Count,AGG_ASSAULT_z_score_mapped,AUTO_THEFT_Count,...,SHOOTING_z_score_mapped,ROBBERY_CARJACKING_Count,ROBBERY_CARJACKING_z_score_mapped,ROBBERY_COMMERCIAL_Count,ROBBERY_COMMERCIAL_z_score_mapped,sum_count,sum_z_scores,z_scores_before_mapping,mapped_values_sigmoid,safe_area_tag
0,0,POINT(39.370859 -76.6701475),MOUNT WASHINGTON,388.0,2.284768,102.0,1.173839,45.0,1.121540,148.0,...,1.054054,16.0,1.592593,4.0,1.105960,1479.0,17.673243,-0.412554,3.692163,safe area
1,1,POINT(39.2842097 -76.593611),FELLS POINT,1208.0,5.000000,1301.0,3.217299,616.0,2.663741,424.0,...,2.108108,30.0,2.111111,127.0,4.364238,6880.0,35.954089,1.671352,1.203752,safe area
2,2,POINT(39.3216614 -76.5737173),BELAIR-EDISON,954.0,4.158940,2347.0,5.000000,1481.0,5.000000,1423.0,...,5.000000,108.0,5.000000,151.0,5.000000,12487.0,62.919713,4.745270,1.000990,
3,3,POINT(39.292007 -76.6167212),UNIVERSITY OF MARYLAND,197.0,1.652318,326.0,1.555603,313.0,1.845375,116.0,...,2.324324,9.0,1.333333,34.0,1.900662,1787.0,21.170465,-0.013892,3.024310,safe area
4,4,POINT(39.3416271 -76.68169619999999),LANGSTON HUGHES,109.0,1.360927,164.0,1.279506,144.0,1.388926,102.0,...,1.702703,11.0,1.407407,26.0,1.688742,1070.0,18.380097,-0.331977,3.565153,safe area

next is to check tagging for nearvy services with highest scores

In [4]:
servicescore=pd.read_csv("neighbourhoodZScores.csv")

Defining function to create the services tag based on the z score column

In [5]:
def create_nearby_service_tags(row):
    # Get the service columns from the row
    services = row[['bank_z_score_mapped', 'bar_z_score_mapped', 'beauty_salon_z_score_mapped', 'bus_station_z_score_mapped', 'cafe_z_score_mapped', 'fire_station_z_score_mapped', 'gym_z_score_mapped', 'hospital_z_score_mapped', 'night_club_z_score_mapped', 'park_z_score_mapped', 'pharmacy_z_score_mapped', 'police_station_z_score_mapped', 'restaurant_z_score_mapped', 'supermarket_z_score_mapped', 'train_station_z_score_mapped', 'transit_station_z_score_mapped']]
    # Sort the services by their z scores in descending order
    services = services.sort_values(ascending=False)
    # Get the top three service names as the tags
    tags = services.index[:3].tolist()
    # Return the tags
    return tags

Applying the function to the dataframe and assigning the result to a new column

In [6]:
servicescore['nearby_service_tags'] = servicescore.apply(create_nearby_service_tags, axis=1)

In [7]:
servicescore.head()

,neighbourhoodID,neighbourhood_z_score_ID,bankCount,bank_z_score_mapped,barCount,bar_z_score_mapped,beauty_salonCount,beauty_salon_z_score_mapped,bus_stationCount,bus_station_z_score_mapped,...,supermarket_z_score_mapped,train_stationCount,train_station_z_score_mapped,transit_stationCount,transit_station_z_score_mapped,sum_count,sum_z_scores,z_scores_before_mapping,mapped_values_sigmoid,nearby_service_tags
0,0,0,1.0,1.05,4.0,1.133333,4.0,1.133333,0.0,1.000000,...,1.222222,0.0,1.0,56,1.736842,176.0,20.845803,-0.635338,1.990111,"[hospital_z_score_mapped, transit_station_z_sc..."
1,1,1,16.0,1.80,60.0,3.000000,60.0,3.000000,1.0,1.222222,...,1.888889,0.0,1.0,60,1.842105,444.0,33.511519,0.565213,3.915658,"[bar_z_score_mapped, beauty_salon_z_score_mapp..."
2,2,2,0.0,1.00,9.0,1.300000,9.0,1.300000,0.0,1.000000,...,1.444444,0.0,1.0,60,1.842105,152.0,19.914471,-0.723616,1.879546,"[restaurant_z_score_mapped, transit_station_z_..."
3,3,3,69.0,4.45,120.0,5.000000,120.0,5.000000,3.0,1.666667,...,3.444444,2.0,5.0,120,3.421053,1142.0,69.409975,3.967935,4.996146,"[bar_z_score_mapped, beauty_salon_z_score_mapp..."
4,4,4,5.0,1.25,7.0,1.233333,7.0,1.233333,4.0,1.888889,...,1.888889,0.0,1.0,60,1.842105,173.0,22.585313,-0.470454,2.220259,"[restaurant_z_score_mapped, bus_station_z_scor..."

generating threshold with sample dataset

In [7]:
crimescores = pd.read_csv("crime_z_scores.csv")

# Calculating the threshold as the 90th percentile of z scores
threshold = np.percentile(crimescores['mapped_values_sigmoid'], 90)

# Defining a function to create the "safe area" tag based on the threshold
def create_safe_area_tag(row):
    # Getting the z score from the row
    z_score = row['mapped_values_sigmoid']
    # Checking if the z score is less than or equal to the calculated threshold
    if z_score >= threshold:
        # Returning "safe area" as the tag
        return 'safe area'
    else:
        # Returning an empty string
        return ''

# Applying the function to create the 'safe_area_tag' column
crimescores['safe_area_tag'] = crimescores.apply(create_safe_area_tag, axis=1)

In [9]:
crimescores.head()

,neighbourhoodID,neighbourhoodGeoLocation,crime_neighbourhood,LARCENY_FROM_AUTO_Count,LARCENY_FROM_AUTO_z_score_mapped,COMMON_ASSAULT_Count,COMMON_ASSAULT_z_score_mapped,AGG_ASSAULT_Count,AGG_ASSAULT_z_score_mapped,AUTO_THEFT_Count,...,SHOOTING_z_score_mapped,ROBBERY_CARJACKING_Count,ROBBERY_CARJACKING_z_score_mapped,ROBBERY_COMMERCIAL_Count,ROBBERY_COMMERCIAL_z_score_mapped,sum_count,sum_z_scores,z_scores_before_mapping,mapped_values_sigmoid,safe_area_tag
0,0,POINT(39.370859 -76.6701475),MOUNT WASHINGTON,388.0,2.284768,102.0,1.173839,45.0,1.121540,148.0,...,1.054054,16.0,1.592593,4.0,1.105960,1479.0,17.673243,-0.412554,3.692163,
1,1,POINT(39.2842097 -76.593611),FELLS POINT,1208.0,5.000000,1301.0,3.217299,616.0,2.663741,424.0,...,2.108108,30.0,2.111111,127.0,4.364238,6880.0,35.954089,1.671352,1.203752,
2,2,POINT(39.3216614 -76.5737173),BELAIR-EDISON,954.0,4.158940,2347.0,5.000000,1481.0,5.000000,1423.0,...,5.000000,108.0,5.000000,151.0,5.000000,12487.0,62.919713,4.745270,1.000990,
3,3,POINT(39.292007 -76.6167212),UNIVERSITY OF MARYLAND,197.0,1.652318,326.0,1.555603,313.0,1.845375,116.0,...,2.324324,9.0,1.333333,34.0,1.900662,1787.0,21.170465,-0.013892,3.024310,
4,4,POINT(39.3416271 -76.68169619999999),LANGSTON HUGHES,109.0,1.360927,164.0,1.279506,144.0,1.388926,102.0,...,1.702703,11.0,1.407407,26.0,1.688742,1070.0,18.380097,-0.331977,3.565153,

In [8]:
# Viewing the threshold
print("Threshold:", threshold)

Threshold: 4.319759572726523

### Creating a new table that will be uploaded to the database as the tags table

In [3]:
# Creating a DataFrame with neighbourhoodID ranging from 0 to 72
neighbourhoods = list(range(73))  # Assuming 73 neighbourhoods (0 to 72)
tags_table = pd.DataFrame({'neighbourhoodID': neighbourhoods})

In [4]:
# Initializing empty columns for safety, service, and amenities tags
tags_table['safety_tag'] = ''
tags_table['service_tag'] = ''
tags_table['amenities_tag'] = ''
tags_table['tags'] = ''

In [5]:
# Print the DataFrame
print(tags_table)

    neighbourhoodID safety_tag service_tag amenities_tag tags
0                 0
1                 1
2                 2
3                 3
4                 4
..              ...        ...         ...           ...  ...
68               68
69               69
70               70
71               71
72               72

[73 rows x 5 columns]

safety tags

In [12]:
crimescores = pd.read_csv("crime_z_scores_202311271101.csv")

# Calculating the threshold as the 90th percentile of z scores
threshold = np.percentile(crimescores['mapped_values_sigmoid'], 75)

# Defining a function to create the "safe area" tag based on the threshold
def create_safe_area_tag(row):
    # Getting the z score from the row
    z_score = row['mapped_values_sigmoid']
    # Checking if the z score is less than or equal to the calculated threshold
    if z_score >= threshold:
        # Returning "safe area" as the tag
        return 'safe area'
    else:
        # Returning an empty string
        return ''

# Applying the function to create the 'safe_area_tag' column
tags_table['safety_tag'] = crimescores.apply(create_safe_area_tag, axis=1)

In [27]:
# Print the DataFrame
print(tags_table)

    neighbourhoodID safety_tag         service_tag amenities_tag tags
0                 0             emergency services
1                 1                        fitness
2                 2                        fitness
3                 3             emergency services
4                 4                 transportation
..              ...        ...                 ...           ...  ...
68               68                 transportation
69               69                         retail
70               70  safe area             finance
71               71  safe area             finance
72               72             emergency services

[73 rows x 5 columns]

In [15]:
# tags_table.to_csv("tags_tablez.csv", index=False)

service tags

In [22]:
servicescore=pd.read_csv("service_scores_202311271059.csv")

def create_nearby_service_tags(row):
    # Get the service columns from the row
    services = row[['finance_score', 'transportation_score', 'personal_care_score', 'retail_score', 'fitness_score', 'leisure_score', 'emergency_score']]
    # Get the service with the highest z score
    highest_score_service = services.idxmax()
    # Return the service with the highest score as the tag
    return highest_score_service

# using the function on the DataFrame
tags_table['service_tag'] = servicescore.apply(create_nearby_service_tags, axis=1)

formatting the tags so it is more presentable to users when showed

In [24]:
# Removing '_score' from all values in the 'safety_tag' column
tags_table['service_tag'] = tags_table['service_tag'].str.replace('_score', '')

In [26]:
# Removing '_score' from all values in the 'safety_tag' column
tags_table['service_tag'] = tags_table['service_tag'].str.replace('emergency', 'emergency services')

Amenities

Sufficient Amenities tag to be used

In [28]:
amenities = pd.read_csv("PropertyDetails_202311271101.csv")

In [29]:
amenities.head()

,propertyDetailsID,yearBuilt,Cooling,Heating,Pets,Parking,Dishwasher,garbageDisposal,Dryer,Refrigerator,...,Sewage,HasGarbageBin,Porch,Deck,Skylights,LaundryFeaturesNone,LaundryFeaturesHookups,DoublePaneWindows,Sauna,Stories
0,0,1969.0,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,...,0,0,0,0,0,0,0,0,0,NaN
1,1,1969.0,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,...,0,0,0,0,0,0,0,0,0,NaN
2,2,1969.0,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,...,0,0,0,0,0,0,0,0,0,NaN
3,3,1969.0,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,...,0,0,0,0,0,0,0,0,0,NaN
4,4,1969.0,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,...,0,0,0,0,0,0,0,0,0,NaN

Dropping columns not needed for the amenities

In [30]:
# Drop the specified columns without checking if they exist
amenities.drop(columns=['yearBuilt', 'Stories'], inplace=True)

In [31]:
amenities.head()

,propertyDetailsID,Cooling,Heating,Pets,Parking,Dishwasher,garbageDisposal,Dryer,Refrigerator,Microwave,...,Water,Sewage,HasGarbageBin,Porch,Deck,Skylights,LaundryFeaturesNone,LaundryFeaturesHookups,DoublePaneWindows,Sauna
0,0,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Other,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
# Finding the maximum number of words in any row
max_words = amenities['Cooling'].str.split(',').apply(lambda x: len(x) if x != ['none'] else 0).max()

In [33]:
print(max_words)

2

In [34]:
# Replace 'none' with 0 and calculate the percentage for other words
amenities['Cooling'] = amenities['Cooling'].apply(lambda x: 0 if x == 'none' else len(x.split(','))/max_words)

In [35]:
amenities.head()

,propertyDetailsID,Cooling,Heating,Pets,Parking,Dishwasher,garbageDisposal,Dryer,Refrigerator,Microwave,...,Water,Sewage,HasGarbageBin,Porch,Deck,Skylights,LaundryFeaturesNone,LaundryFeaturesHookups,DoublePaneWindows,Sauna
0,0,0.5,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0.5,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0.5,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0.5,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0.5,None,"Dogs, Small Dogs",0 spaces,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0